Source: ros-hydro-rtt-rosnode
Section: misc
Priority: extra
Maintainer: Orocos Developers <orocos-dev@lists.mech.kuleuven.be>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-roscpp, ros-hydro-rtt-ros
Homepage: http://ros.org/wiki/rtt_rosnode
Standards-Version: 3.9.2

Package: ros-hydro-rtt-rosnode
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-roscpp, ros-hydro-rtt-ros
Description: This package provides an RTT plugin to add a ROS node to the RTT process.
